#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #eeeeee;
}

body {
  margin: 0;
  background-color: #eeeeee;
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tsEditButton {

}

.tsMap {
  width: 80vw;
  height: 35vh;
  background-color: lightblue;
  margin-top: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}